
/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@400;500;600;700;800&display=swap');
/* ----- Global css----- */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: #151515; 
}

/* ----- banner part css----- */
#banner {
    position: relative;
    background-color: rgb(0, 0, 0);
}
#banner::before {
    content: '';
    height: 180px;
    width: 190px;
    background-image: url(../images/football.png);
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
}
#banner::after {
    content: '';
    height: 460px;
    width: 410px;
    background-image: url(../images/banner_img_01.png);
    position: absolute;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-area {
    max-width: 735px;
    margin: auto;
    padding-top: 140px;
    padding-bottom: 130px;
    /* position: relative; */
}
.hero-area::before {
    content: '';
    height: 200px;
    width: 190px;
    background-image: url(../images/banner_img_02.png);
    position: absolute;
    top: 40px;
    right: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-title{
    font-family: 'Berkshire Swash', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 94px;
    text-align: center;
    text-transform: capitalize;
    color: #FF5E19;
}
.hero-desc {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

/* ----- main part css ----- */



.player {
    border: 1px solid #434343;
}
.player .player-info
.player .player-info h3.name {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}

.selected-value {
    min-height: 350px;
}
h3 {
    position: relative;
}
h3.value-title::before,
h3.budget-title::before {
    content: '';
    height: 13px;
    width: 144px;
    background-image: url(../shape/title-line_01.png);
    position: absolute;

    bottom: -20px;
    right: 60px;
    background-repeat: no-repeat;
    background-position: center;
}
.input-text{
    font-size: 13px;
}
